* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

/* BASE */
:root {
  /* Color */
  /* Main Text */
  --main-text: hsl(238, 29%, 16%);
  --hover-text: hsl(14, 88%, 65%);

  /* Sub text */
  --question-text: hsl(237, 12%, 33%);
  --answer-text: hsl(240, 6%, 50%);

  /* Background */
  --background-linear: linear-gradient(180deg, #764ba2 0%, #667eea 100%);
  /* --background-linear: linear-gradient(
    180deg,
    #af67e9 0%,
    #6565e7 100%
  ); */
}

/* ! Bold: 700 */

body {
  background: var(--background-linear);
  background-repeat: no-repeat;
  font-size: 12px;
  height: 100vh;
}

.divider {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.container {
  position: relative;
  width: 320px;
  padding: 1.5rem;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}

/* HEADER */

.header {
  position: relative;
  margin: auto;
  margin-top: -50%;
}

.desktop_img {
  display: none;
}

.mobile_img {
  width: 90%;
}

/* CONTENT */

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #fff;
}
