@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  /* ## Colors */

  /* ### Primary */

  /* #### Text */

  --text-question-select: hsl(238, 29%, 16%);
  --text-question-hover: hsl(14, 88%, 65%);

  /* #### Gradient */

  /* Background gradient: */

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  --main-back: linear-gradient(
    180deg,
    var(--Soft-violet) 0%,
    var(--Soft-blue) 100%
  );

  /* ### Neutral */

  /* #### Text */

  --text-question: hsl(237, 12%, 33%);
  --text-answer: hsl(240, 6%, 50%);

  /* #### Dividers */

  --Light-grayish-blue: hsl(240, 5%, 91%);

  /* Font Weight */

  --bold: 700;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-back);
}

/* Base */

.card-container {
  width: 33rem;
  margin: auto 2rem;
  padding: 1.5rem;
  padding-top: 0;
  background-color: white;
  border-radius: 2rem;
  position: relative;
}

/* Header */

header {
  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.header__img {
  width: 19.5rem;
  position: relative;
  top: -9rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Main */

.main__title {
  text-align: center;
  font-size: 2.7rem;
  margin-top: -4rem;
  margin-bottom: 3rem;
}

.question__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq__item {
  margin: 1.5rem;
  border-bottom: 1px solid var(--Light-grayish-blue);
}

.question__box {
  margin: 1rem auto;
}

.question {
  color: var(--text-question);
  cursor: pointer;
}

.question:hover {
  color: var(--text-question-hover);
}

.button__icon {
  transform: rotate(-180deg);
}

.answer__box {
  width: 80%;
  margin-bottom: 1rem;
}

.answer {
  color: var(--text-answer);
}

/* Actions */

.select {
  color: var(--text-question-select);
  font-weight: var(--bold);
}

.push {
  transform: rotate(180deg);
}

.select:hover {
  color: var(--text-question-select);
}

.pull {
  display: none;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.attribution {
  font-size: 11px;
  font-weight: var(--bold);
  text-align: center;
  color: white;
}
.attribution a {
  color: white;
}

/* Medium devices screen */

@media screen and (min-width: 750px) {
  .card-container {
    width: 60%;
  }

  .header__img {
    width: 60%;
  }

  .answer__box {
    max-width: 80%;
  }

  .question,
  .answer {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header {
    background-position: bottom left;
  }

  .header__img {
    width: 100%;
  }

  .header__img-large {
    width: 100%;
    position: relative;
    top: auto;
    left: auto;
    transform: translateX(-25%);
  }
}

/* Large device screen */

@media screen and (min-width: 1200px) {
}
